.form-control {
  width: 60%;
}

.form-group {
  margin: auto;
  position: relative;
  left: 20%;
  margin-top: 100px;

}

#genreToEdit {
    width: 80%;
    display: inline-block;
    height: 50px;
}

#saveGenreToEdit {
  width: 10%;
  display: inline-block;
  height: 50px;
}